---
import { t } from 'i18next'
import { getCollection } from 'astro:content'
import DefaultLayout from '~/layouts/Default.astro'
import PostCard from '~/components/PostCard.astro'

const postEntries = (await getCollection('blog'))
  .sort((a, b) => {
    const aTime = new Date(a.data.modifiedTime ?? a.data.publishedTime).getTime()
    const bTime = new Date(b.data.modifiedTime ?? b.data.publishedTime).getTime()
    return bTime - aTime
  })

const postSeries = postEntries.reduce((series, entry) => {
  const seriesName = entry.data.series
  if (!seriesName)
    return series

  if (!series[seriesName]) {
    series[seriesName] = []
  }

  series[seriesName].push(entry)
  return series
}, {} as Record<string, any[]>)
---

<DefaultLayout>
  <div>
    <section>
      <h2 class="site-section-title">{t('post.recent')}</h2>
      <ul class="site-list">
        {postEntries.slice(0, 6).map(entry => (
          <PostCard entry={entry} />
        ))}
      </ul>
    </section>

    <section>
      <h2 class="site-section-title">{t('post.series')}</h2>
      <ul>
        {Object.entries(postSeries).map(([seriesName, entries]) => (
          <li>
            <details>
              <summary class="cursor-pointer py-4">{seriesName} ({entries.length})</summary>

              <ul class="site-list">
                {entries.map(entry => (
                  <PostCard entry={entry} />
                ))}
              </ul>
            </details>
          </li>
        ))}
      </ul>
    </section>
  </div>
</DefaultLayout>

<style>
  //
</style>
