---
import { getCollection } from 'astro:content'
import BaseLayout from '~/layouts/Base.astro'

const postEntries = await getCollection('blog')
---

<BaseLayout>
  <ul>
    {postEntries.map(entry => (
      <li><a href={`/post/${entry.slug}`}>{entry.data.title}</a></li>
    ))}
  </ul>
</BaseLayout>
