---
import { getCollection } from 'astro:content'
import DefaultLayout from '~/layouts/Default.astro'
import { getPath } from '~/utils/path'

const postEntries = await getCollection('blog')
---

<DefaultLayout>
  <ul>
    {postEntries.map(entry => (
      <li><a href={getPath('post', entry.slug)}>{entry.data.title}</a></li>
    ))}
  </ul>
</DefaultLayout>
