---
import DefaultLayout from 'astro-friday/layouts/Default.astro'
import Introduction from '../contents/guide/introduction.md'
---

<DefaultLayout>
  <div class="live-area prose dark:prose-invert">
    <Introduction />
  </div>
</DefaultLayout>
