---
import { site } from '~/setting.js'
import LangSwitcher from '~/components/LangSwitcher.astro'

---

<footer class:list={[
  'py-4 text-4 text-center site-opacity',
]}>
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="underline">CC BY-NC-SA 4.0</a>
  <span> 2021-PRESENT © </span>
  <a href={`mailto:${site.email}`} class="underline">{site.author}</a>
  <i class="px-2"></i>
  <LangSwitcher />
</footer>
