---
import { site } from '~/setting.js'

---

<footer class="absolute bottom-0 left-0 right-0 py-4 text-4 text-center site-opacity">
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="underline">CC BY-NC-SA 4.0</a>
  <span> 2021-PRESENT © </span>
  <a href={`mailto:${site.email}`} class="underline">{site.author}</a>
</footer>
