---
import { getPath } from '~/utils/path'

const { tag, count = false, border = true } = Astro.props
---

<li class:list={[
  border || '!border-0',
  'px-0.5em py-0.25em border-2px border-dashed border-current rounded-0.5em text-nowrap site-opacity',
  'sm:(hover:opacity-100)',
]}>
  <a href={getPath('tag', tag)}>{tag}</a>
  {count ? <span class="ml-2">{count}</span> : null}
</li>
