---
import Search from 'astro-pagefind/components/Search'

const options = {
  showImage: false,
  showSubResults: true,
}
---

<div
  site-mask
  class:list={[
    'hidden',
    'site-mask',
    'component_site-search',
  ]}
>
  <div
    class:list={[
      'site-mask__content',
    ]}
  >
    <Search id="search" className="pagefind-ui" uiOptions={options} />
    <button class="site-mask__close">Close</button>
  </div>
</div>

<style is:inline>
  .pagefind-ui {
    height: 100%;
  }
  .pagefind-ui__form {
    position: relative;
    height: 100%;
  }

  .pagefind-ui__form::before {
    background-color: currentColor !important;
  }

  .pagefind-ui__drawer {
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    width: 100%;
    height: calc(100% - calc(64px * var(--pagefind-ui-scale)));
  }

  .pagefind-ui__search-input {
    outline: none;
  }

  .pagefind-ui__result-thumb {
    display: none;
  }

  :root.dark {
    --pagefind-ui-primary: unset;
    --pagefind-ui-text: unset;
    --pagefind-ui-background: unset;
    --pagefind-ui-border: #F2F3F533;
    --pagefind-ui-tag: #152028;
  }
</style>
