---
import Search from 'astro-pagefind/components/Search'

const options = {
  showImage: false,
  showSubResults: true,
}
---

<div
  id="component_site-search"
  class="hidden"
>
  <div
    class="component_site-search__mask"
    class:list={[
      'fixed z-30 inset-0 m-auto bg-primary:95',
      'sm:(left-80px)',
      'lg:(left-20%)',
      'xl:(left-[calc((100vw-1440px)/2+1440px*0.2)])',
    ]}
  >
    <div
      class:list={[
        'absolute left-0 right-0 top-8 bottom-8 m-auto p-8 w-[min(90%,calc(1440px*0.65))] bg-primary site-shadow-60 rounded-lg',
        'lt-sm:(bottom-24)',
        'lt-md:(p-4)',
        'xl:(right-[calc((100vw-1440px)/2)])',
      ]}
    >
      <Search id="search" className="pagefind-ui" uiOptions={options} />
    </div>

    <div
      class:list={[
        'absolute left-0 right-0 bottom-12 m-auto transform-translate-y-50% w-max flex flex-row justify-center items-center',
        'bg-primary rounded-10 site-shadow-40 site-opacity text-10',
        'sm:(hidden)',
      ]}
    >
      <button
        class:list={[
          'i-ic:baseline-close',
          'component_site-search__close-button',
        ]}
      ></button>
    </div>
    <!-- <div class="">
    </div> -->
  </div>
</div>

<script>
  const siteSearch = document.querySelector('#component_site-search')
  const siteSearchMask = document.querySelector('.component_site-search__mask')

  siteSearchMask.addEventListener('click', e => {
    if (e.target !== e.currentTarget) return
    siteSearch.classList.add('hidden')
  })

  const closeButton = document.querySelector('.component_site-search__close-button')
  closeButton.addEventListener('click', e => {
    siteSearch.classList.add('hidden')
  })
</script>

<style is:inline>
  #component_site-search {
  }
  .pagefind-ui {
    height: 100%;
  }
  .pagefind-ui__form {
    position: relative;
    height: 100%;
  }

  .pagefind-ui__form::before {
    background-color: currentColor !important;
  }

  .pagefind-ui__drawer {
    position: absolute;
    bottom: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    width: 100%;
    height: calc(100% - calc(64px * var(--pagefind-ui-scale)));
  }

  .pagefind-ui__search-input {
    outline: none;
  }

  .pagefind-ui__result-thumb {
    display: none;
  }

  :root.dark {
    --pagefind-ui-primary: unset;
    --pagefind-ui-text: unset;
    --pagefind-ui-background: unset;
    --pagefind-ui-border: #F2F3F533;
    --pagefind-ui-tag: #152028;
  }
</style>
