---
import { getCollection } from 'astro:content'
import BaseLayout from '~/layouts/Base.astro'
import { getPath } from '~/utils/path'

const postEntries = await getCollection('blog')

const tagsCount = postEntries.reduce((acc, entry) => {
  entry.data.tags?.forEach((tag) => {
    acc[tag] = acc[tag] ? acc[tag] + 1 : 1
  })
  return acc
}, {})
---

<BaseLayout>
  <ul>
    {Object.entries(tagsCount).map(([tag, count]) => (
      <li>
        <a href={getPath('tag', tag)}>{tag}</a>
        <span>{count}</span>
      </li>
    ))}
  </ul>
</BaseLayout>
