---
import { getCollection } from 'astro:content'
import DefaultLayout from '~/layouts/Default.astro'
import { getPath } from '~/utils/path'

const postEntries = await getCollection('blog')

const tagsCount = postEntries.reduce((acc, entry) => {
  entry.data.tags?.forEach((tag) => {
    acc[tag] = acc[tag] ? acc[tag] + 1 : 1
  })
  return acc
}, {})
---

<DefaultLayout>
  <ul class="w-full min-h-full flex flex-row flex-wrap content-center justify-center items-center gap-4">
    {Object.entries(tagsCount).map(([tag, count]) => (
      <li class:list={[
        'px-2 py-1 border-2px border-dashed border-text:50 rounded-md',
        'md:(opacity-60 hover:opacity-100)',
      ]}>
        <a href={getPath('tag', tag)}>{tag}</a>
        <span class="ml-2">{count}</span>
      </li>
    ))}
  </ul>
</DefaultLayout>
