---
import i18next from 'i18next'
import BaseHead from '~/components/BaseHead.astro'
---

<!DOCTYPE html>
<html lang={i18next.language} class="relative w-100vw overflow-x-hidden">
  <head>
    <slot name="head">
      <BaseHead />
    </slot>

    <style is:global>
      :root.dark img {
        filter: brightness(0.8) saturate(1.25);
      }
    </style>
  </head>
  <body class="bg-primary text-text">
    <slot />
  </body>
</html>
