---
import BaseHead from '~/components/BaseHead.astro'
import { site } from '~/setting'

const pathGenealogy = Astro.url.pathname
  .split('/')
  .filter(Boolean)
  .reduce((acc, val) => [...acc, `${acc}${val}/`], ['/'])

const title = Astro.props.title || (function () {
  let target
  pathGenealogy.findLast((currentPath) => {
    target = site.navigation.find(({ path }) => path === currentPath)
    return target
  })
  return target?.title
}())
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <slot />
  </body>
</html>
