---
import BaseLayout from '~/layouts/Base.astro'
import BaseHead from '~/components/BaseHead.astro'
import SiteSide from '~/components/SiteSide.astro'
import ControlSide from '~/components/ControlSide.astro'

---

<BaseLayout>
  <slot name="head" slot="head">
    <BaseHead />
  </slot>

  <div class="relative max-w-1440px m-auto min-h-100dvh flex flex-row layout_default">
    <div class="fixed left-0 xl:(w-[calc((100%-1440px)/2)] bg-secondary h-full)"></div>
    <SiteSide class="flex-none" />
    <main class="flex-1 w-0 p-4 lg:p-8">
      <slot />
    </main>
    <ControlSide class="flex-none" />
  </div>
</BaseLayout>
