---
import PostHead from '~/components/PostHead.astro'
import BaseLayout from '~/layouts/Base.astro'
---

<BaseLayout>
  <PostHead slot="head" {...Astro.props} />

  <div class="markdown">
    <slot></slot>
  </div>
</BaseLayout>
