---
import PostHead from '~/components/PostHead.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <PostHead {...Astro.props} />
  </head>
  <body>
    <div class="markdown">
      <slot />
    </div>
  </body>
</html>
